body {
  margin: 0;
  background: linear-gradient(90deg, rgb(236, 141, 17) 0%, rgb(207, 206, 115) 100%);
  font-family: 'Courier New', Courier, monospace;
}

button {
  cursor:pointer;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
